<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/StyleTable.css}"/>
    <title th:text="${name}" ></title>
</head>
<h1>BANK OF SIMBA app</h1>
<div th:if="${#lists.isEmpty(newBankAccount)}">
    <p>No bank accounts in the list</p>
</div>
    <table>
        <tr id = blackTable>
            <th> Account User Name :</th>
            <th> User Balance:</th>
            <th> User Type:</th>
            <th> User Id:</th>
            <th> User Rank:</th>
            <th> User Good or Not:</th>
        </tr>
        <tr id = greyTable th:unless="${#lists.isEmpty(newBankAccount)}"  th:each="bankAccount : ${newBankAccount}" th:object="${bankAccount}">
            <td th:text="*{name}"/>
            <td th:text="*{showBalance}"/>
            <td th:text="*{animalType}"/>
            <td th:text="${bankAccountStat.index}"/>
            <td th:if="${bankAccount.king} == true">King</td>
            <td th:unless="${bankAccount.king} == true">pleb</td>
            <td th:if="${bankAccount.good} == true">Good Guy</td>
            <td th:unless="${bankAccount.good} == true">Bad Guy</td>

        </tr>
    </table>
</html>