<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" >
        <title>Edit</title>
    </head>
    <body>
        <form th:action="'/edit'" method="post">
            <input type="text" th:field="${todo.title}">
            <input type="checkbox" th:field="${todo.done}"> Done
            <input type="checkbox" th:field="${todo.urgent}"> Urgent
            <input type="hidden" th:field="${todo.id}">
            <input type="submit" value="Edit">
        </form>
    </body>
</html>