<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form action="/nutritionstore" method="POST">
            <select name="Food">
            <option value="bread">bread</option>
            <option value="chocolate">chocolate</option>
            <option value="oyster">oyster</option>
            <option value="caviar">caviar</option>
            </select>
            <select name="Drink">
                <option value="champagne">champagne/option>
                <option value="cola">cola/option>
                <option value="blood">blood</option>
                <option value="milk">milk</option>
            </select>
            <input type="submit" value="Change">
        </form>
        
    </body>
</html>